@media only screen and (min-width: 200px)  and (max-width: 575px) {
    *{
        margin: 0;
        padding: 0;
    }

    header{
        flex-direction: column;
        position: sticky;
        top: 0;
        margin-left: 0;
        align-items: stretch;
       
    }

    .left-header{
        justify-self: center;
        width: 100%;
    }
    
    .logo{
       padding: 5px;
    }

    .address{
        padding: 20px;
        width: 300px;
    }

    .address h3{
        font-size: 18px;
    }

    .address p{
        font-size: 15px;
        color: rgba(0, 0, 0, 0.737);
    }

    .search{
        display:none ;
    }

    .header-btn{
        position: fixed;
        bottom: 0;
       justify-content: center;
       background-color: white;
       margin-right: 0;
       margin-left: 0;
       width: 100%;
       margin-bottom: 1px;
    }
    
    .banner-Section {
       display: none;
        
    }
    .banner-Section{
        background-size: cover;
    }

    .Itam{
        margin: 10px;
    }

    .order-Banner{
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-left: 40px;
    }
    .categorys2{
        width: 500px;
        flex-wrap: wrap;
    }

    .categorys{
        width: 500px;
        flex-wrap: wrap;
    }
    

    .category-Item {
       flex-wrap: wrap;
    }

    .category-Item img{  
       width: 200px;
       z-index: 0;
    }

    .categorys :hover , .categorys2 :hover {
        transform: scale(1.0,1.0);
        transition: .5s;
        transition-delay: 0.2s ;
    }

    .Rows{
      
       margin-left: 10px;
    }

    .product-Row{
        width: 450px;
        flex-wrap: wrap;
        margin-left: 0px;
        row-gap: 20px;
        margin:0;
        padding: 0;
    }

   .card2{
      margin:0;
      padding:0;
   }

    .headingRow h2{
        display: inline-block;
        margin-left: 10px;
        width: 200%;
    }

    .a{
        margin-left: 0px;
        padding-right: 20px;
        width: 50%;
    }

   

    

    footer{
        display: none;
    }

    .footer2{
        display: grid;
        margin-bottom: 50px;
        margin-top: 0px;
        
        align-items: end;
        width: 100%;
    }

    .footer2 h3{
        font-size: 50px;
        margin: 10px;
        color: gray;
    }

    .footer2 h3 img{
        width: 15%;
        margin-top: 0px;
    }

    .footer2 h6{
        font-size: 30px;
        margin: 20px;
       color: gray;
    }
    .footer2 p{
        margin: 10px;
        font-size: 20px;
    }

    .gaptip{
        display: flex;
        width: 100%;
        height: 100px;
        background-color: skyblue;
        margin-top: 40px;
    }
    
    .marginbttonforgap{
        display: inline;
        margin: 0px;
        padding: 5px;
        
    }
}



